.container {
	min-height: 100vh;
	max-width: 100vw;
	padding: 5vw 2v;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.issueContainer {
	width: 100%;
}

.errorContainer {
	width: 100%;
	padding: 10px 5px;
	background-color: red;
	border-radius: 8px;
	overflow: hidden;
}
